.button {
  background-color: var(--white);
  box-shadow: calc(var(--width-k) * 6) calc(var(--width-k) * 7)
    calc(var(--width-k) * 14) 0px rgba(0, 0, 0, 0.23);
  border-radius: calc(var(--width-k) * 10);
  position: fixed;
  bottom: calc(var(--width-k) * 40);
  right: calc(var(--width-k) * 65);
  z-index: 130;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(var(--width-k) * 48);
  height: calc(var(--width-k) * 48);
  cursor: pointer;
}

.triangle {
  width: calc(var(--width-k) * 14);
  height: calc(var(--width-k) * 14);
  margin: 0 auto;
}

.text {
  color: var(--primary);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 auto 6px auto;
}

@media (max-width: 1024px) {
  .button {
    right: calc(var(--width-k) * 40);
  }
}

@media (max-width: 767px) {
  .button {
    right: calc(var(--width-k) * 14);
    display: none;
  }
}
