.footer {
  position: relative;
}
.background {
  position: relative;
  width: 100%;
  height: calc(var(--width-k) * 461);
}

.index {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0;
  padding: calc(var(--width-k) * 34) calc(var(--width-k) * 98)
    calc(var(--width-k) * 55) calc(var(--width-k) * 135);
}

.info {
  align-self: flex-end;
  margin-right: calc(var(--width-k) * 360);
}

.card__item {
  display: flex;
  align-items: center;
  gap: calc(var(--width-k) * 14);
  margin-bottom: calc(var(--width-k) * 24);
}

.icon {
  width: calc(var(--width-k) * 28);
  height: calc(var(--width-k) * 28);
}

.card__text {
  color: var(--white);
  font-size: calc(var(--width-k) * 15);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: calc(var(--width-k) * 363);
}

.logo {
  width: calc(var(--width-k) * 202);
  height: calc(var(--width-k) * 274);
  margin-right: calc(var(--width-k) * 360);
}

.navigation {
  align-self: flex-start;
  display: flex;
  gap: calc(var(--width-k) * 36);
}

.link {
  color: var(--white);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .index {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(var(--width-k) * 48);
    padding: calc(var(--width-k) * 48) calc(var(--width-k) * 40)
      calc(var(--width-k) * 48) calc(var(--width-k) * 40);
  }
  .info {
    order: 3;
  }
  .logo {
    width: calc(var(--width-k) * 93);
    height: calc(var(--width-k) * 126);
    margin-right: 0;
  }
  .navigation {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .index {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: calc(var(--width-k) * 40);
    padding: calc(var(--width-k) * 34) calc(var(--width-k) * 14)
      calc(var(--width-k) * 14) calc(var(--width-k) * 14);
  }
  .card__item {
    width: 100%;
  }
  .logo {
    width: calc(var(--width-k) * 39);
    margin-right: 0;
  }
  .navigation {
    flex-direction: column;
    gap: calc(var(--width-k) * 16);
  }
  .link {
    font-size: calc(var(--width-k) * 14);
  }
  .info {
    margin-right: 0;
  }
  .card__text {
    font-size: calc(var(--width-k) * 12);
  }
}
