.content {
  display: flex;
  position: relative;
  gap: calc(var(--width-k) * 87);
  align-items: center;
  width: calc(var(--width-k) * 1820);
  margin: 0 0 auto auto;
  padding-top: calc(var(--width-k) * 78);
}

.position {
  position: absolute;
  top: 0;
  left: 0;
}
.image {
  position: relative;
  z-index: 10;
  width: calc(var(--width-k) * 1820);
  height: calc(var(--width-k) * 492);
  margin-top: calc(var(--width-k) * 78);
}

.index {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 100;
}

.heading__wrapper {
  display: flex;
  align-items: center;
  gap: calc(var(--width-k) * 26);
  width: calc(var(--width-k) * 1820);
  margin-top: calc(var(--width-k) * 44);
}

.heading__line {
  background-color: var(--white);
  width: calc(var(--width-k) * 155);
  height: calc(var(--width-k) * 1);
}

.heading__line:last-child {
  width: calc(var(--width-k) * 1080);
}

.heading {
  color: var(--white);
  font-size: calc(var(--width-k) * 62.63);
  white-space: nowrap;
  margin-left: 0;
}

.description {
  color: var(--white);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: calc(var(--width-k) * 181);
  margin-bottom: calc(var(--width-k) * 100);
}

.card__wrapper {
  display: flex;
  gap: calc(var(--width-k) * 52);
  margin: 0 0 0 calc(var(--width-k) * 181);
}

.card {
  position: relative;
  padding: calc(var(--width-k) * 33) calc(var(--width-k) * 24.5) 0
    calc(var(--width-k) * 24.5);
  background-color: var(--white);
  border-radius: calc(var(--width-k) * 10);
  width: calc(var(--width-k) * 342);
  height: calc(var(--width-k) * 425);
  box-shadow: calc(var(--width-k) * 12) calc(var(--width-k) * 14)
    calc(var(--width-k) * 14) 0px rgba(0, 0, 0, 0.15);
  border: var(--width-k) solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card__number {
  color: rgba(33, 33, 33, 1);
  font-size: calc(var(--width-k) * 30);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: calc(var(--width-k) * 17);
}

.card__txt {
  color: rgba(33, 33, 33, 1);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card__bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(33, 33, 33, 1);
  width: calc(var(--width-k) * 342);
  height: calc(var(--width-k) * 62);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .content {
    width: 100%;
    padding-top: calc(var(--width-k) * 100);
  }
  .heading__wrapper {
    width: 100%;
  }
  .heading__line {
    width: calc(var(--width-k) * 100);
  }
  .heading__line:last-child {
    width: 100%;
  }
  .description {
    font-size: calc(var(--width-k) * 24);
    margin-left: calc(var(--width-k) * 90);
    margin-bottom: calc(var(--width-k) * 100);
  }
  .card__wrapper {
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--width-k) * 52);
    margin: 0 auto;
  }
  .image {
    width: 100vw;
    margin-top: calc(var(--width-k) * 100);
  }
  .description {
    margin-left: calc(var(--width-k) * 70);
  }
}

@media (max-width: 767px) {
  .content {
    margin: calc(var(--width-k) * 250) 0 auto auto;
    width: 100vw;
    padding-top: calc(var(--width-k) * 100);
  }
  .heading__wrapper {
    width: 100%;
  }
  .card__wrapper {
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--width-k) * 32);
    margin: 0 auto;
    padding: 0 auto;
  }
  .image {
    margin-top: calc(var(--width-k) * 80);
  }
  .heading {
    font-size: calc(var(--width-k) * 32);
    margin-left: calc(var(--width-k) * 14);
  }
  .heading__line {
    display: none;
  }
  .description {
    font-size: calc(var(--width-k) * 14);
    margin-left: calc(var(--width-k) * 14);
    margin-bottom: calc(var(--width-k) * 56);
  }
  .card {
    width: calc(var(--width-k) * 300);
    height: calc(var(--width-k) * 425);
    margin: 0 auto;
  }
  .card__number {
    font-size: calc(var(--width-k) * 24);
    margin-bottom: calc(var(--width-k) * 17);
  }

  .card__txt {
    font-size: calc(var(--width-k) * 18);
  }

  .card__bottom {
    position: absolute;
    width: calc(var(--width-k) * 300);
    height: calc(var(--width-k) * 62);
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(var(--width-k) * 18);
  }
}
