.content {
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav);
  width: calc(var(--width-k) * 465);
  height: calc(var(--width-k) * 47);
  position: absolute;
  top: calc(var(--width-k) * -47);
  right: calc(var(--width-k) * 32);
  z-index: 120;
}

.link {
  color: var(--white);
  font-size: calc(var(--width-k) * 20);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.image__wrapper {
  position: relative;
  width: calc(var(--width-k) * 1446);
  height: calc(var(--width-k) * 946);
  margin: 0 0 auto auto;
  overflow: hidden;
}

.image__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center calc(var(--width-k) * -760);
}

.card__wrapper {
  display: flex;
  position: absolute;
  top: calc(var(--width-k) * 275);
  left: calc(var(--width-k) * 212);
  z-index: 110;
}

.rotated {
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  color: var(--primary);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: calc(var(--width-k) * 41.16);
  text-transform: uppercase;
  width: max-content;
  height: max-content;
  margin-top: calc(var(--width-k) * -41.16);
  margin-right: calc(var(--width-k) * 13);
}

.rectangle {
  background-color: var(--primary);
  width: calc(var(--width-k) * 29);
  height: calc(var(--width-k) * 403);
  margin-right: calc(var(--width-k) * 24);
}

.card {
  position: relative;
  width: calc(var(--width-k) * 1069);
  height: calc(var(--width-k) * 403);
  padding-top: calc(var(--width-k) * 59);
  padding-left: calc(var(--width-k) * 63);
  background-color: var(--white);
  border: var(--width-k) solid rgba(0, 0, 0, 0.1);
  box-shadow: calc(var(--width-k) * 12) calc(var(--width-k) * 14)
    calc(var(--width-k) * 27) 0px rgba(0, 0, 0, 0.23);
}

.main_heading {
  font-size: calc(var(--width-k) * 87.774);
}

.sub_heading {
  color: var(--primary);
  font-size: calc(var(--width-k) * 48.167);
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: calc(var(--width-k) * 7);
}

.divider {
  width: calc(var(--width-k) * 709);
  height: calc(var(--width-k) * 2);
  background-color: var(--tertiary-faded);
  margin-bottom: calc(var(--width-k) * 14);
}

.motto {
  color: var(--secondary-faded);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: calc(var(--width-k) * 24);
}

.btn__wrapper {
  display: flex;
  gap: calc(var(--width-k) * 16);
}

.main_btn {
  padding: calc(var(--width-k) * 14) calc(var(--width-k) * 36);
  border-radius: calc(var(--width-k) * 6);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Inter", sans-serif;
  background-color: var(--btn);
  color: var(--white);
  border: var(--width-k) solid var(--btn);
  transition: background-color 0.3s ease-out;
}

.main_btn:active {
  background-color: var(--white);
  color: var(--btn);
}

.sub_btn {
  padding: calc(var(--width-k) * 14) calc(var(--width-k) * 36);
  border-radius: calc(var(--width-k) * 6);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Inter", sans-serif;
  background-color: var(--white);
  color: var(--btn);
  border: var(--width-k) solid var(--btn);
  transition: background-color 0.3s ease-out;
}

.sub_btn:active {
  background-color: var(--btn);
  color: var(--white);
}

@media (max-width: 1024px) {
  .image__wrapper {
    position: absolute;
    left: calc(var(--width-k) * 180);
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .image__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .content {
    height: 100vh;
  }

  .navigation {
    right: 0;
  }

  .card__wrapper {
    display: flex;
    position: absolute;
    top: calc(var(--width-k) * 476);
    left: calc(var(--width-k) * 39);
    z-index: 110;
  }

  .main_heading {
    font-size: calc(var(--width-k) * 80);
  }

  .sub_heading {
    font-size: calc(var(--width-k) * 36);
  }

  .motto {
    font-size: calc(var(--width-k) * 24);
  }

  .card {
    width: calc(var(--width-k) * 890);
  }
}

@media (max-width: 767px) {
  .image__wrapper {
    position: static;
    width: 100%;
    height: 100vh;
    margin: 0 0 auto auto;
    overflow: hidden;
  }

  .content {
    height: 100vh;
  }

  .navigation {
    width: 100%;
    height: calc(var(--width-k) * 39);
    position: absolute;
    top: calc(var(--width-k) * -45);
    left: 50%;
    transform: translateX(-50%);
  }

  .link {
    font-size: calc(var(--width-k) * 18);
  }

  .card__wrapper {
    display: flex;
    position: absolute;
    top: calc(var(--width-k) * 335);
    left: 50%;
    transform: translateX(-50%);
    z-index: 110;
  }

  .rotated {
    display: none;
  }

  .rectangle {
    display: none;
  }

  .main_heading {
    font-size: calc(var(--width-k) * 32);
  }

  .sub_heading {
    font-size: calc(var(--width-k) * 24);
    white-space: nowrap;
  }

  .divider {
    width: calc(var(--width-k) * 330);
  }

  .motto {
    font-size: calc(var(--width-k) * 14);
    margin-bottom: calc(var(--width-k) * 14);
  }

  .card {
    width: fit-content;
    height: fit-content;
    padding: calc(var(--width-k) * 23) calc(var(--width-k) * 16);
  }

  .main_btn {
    font-size: calc(var(--width-k) * 12);
    padding: calc(var(--width-k) * 7) calc(var(--width-k) * 17);
  }

  .sub_btn {
    font-size: calc(var(--width-k) * 12);
    padding: calc(var(--width-k) * 7) calc(var(--width-k) * 17);
  }
}
