.logo {
  width: calc(var(--width-k) * 72);
  height: calc(var(--width-k) * 98);
}

.burger {
  width: calc(var(--width-k) * 21);
  height: calc(var(--width-k) * 31);
}

.arrow {
  width: calc(var(--width-k) * 24);
  height: calc(var(--width-k) * 24);
  margin-top: calc(var(--width-k) * 23);
  margin-left: auto;
  margin-right: 0;
  margin-bottom: calc(var(--width-k) * 11);
  transform: rotate(180deg);
  cursor: pointer;
}

.menu {
  position: absolute;
  top: calc(var(--width-k) * 120);
  right: 0;
  width: fit-content;
  padding-right: calc(var(--width-k) * 40);
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: translate(100%, 0);
  width: calc(var(--width-k) * 200);
  display: flex;
  flex-direction: column;
  gap: calc(var(--width-k) * 23);
  text-align: right;
  height: 100vh;
  background-color: var(--white);
}

.link {
  color: var(--primary);
  font-size: calc(var(--width-k) * 32);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .navigation {
    padding: 0 calc(var(--width-k) * 40) calc(var(--width-k) * 40)
      calc(var(--width-k) * 40);
  }
  .logo {
    width: calc(var(--width-k) * 39);
    height: calc(var(--width-k) * 52);
  }
}

@media (max-width: 767px) {
  .logo {
    width: calc(var(--width-k) * 39);
    height: calc(var(--width-k) * 52);
  }
  .navigation {
    padding: 0 calc(var(--width-k) * 14) calc(var(--width-k) * 14)
      calc(var(--width-k) * 14);
  }
  .link {
    font-size: calc(var(--width-k) * 24);
  }
}
