:root {
  --white: rgba(255, 255, 255, 1);

  --primary: rgba(74, 26, 97, 1);
  --secondary-faded: rgba(112, 42, 203, 0.51);
  --tertiary-faded: rgba(112, 42, 203, 0.42);

  --btn: rgba(36, 11, 51, 1);
  --txt: rgba(34, 31, 35, 1);
  --nav: rgba(193, 158, 239, 1);

  --width-k: calc(100vw / 1920);
  --mob-k: calc(100vw / 375);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: var(--white);
}

img {
  z-index: 10;
}

main {
  /* height: 100vh; */
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: auto; */
  /* scroll-behavior: smooth; */
  overflow: hidden;
}

section {
  /* display: flex; */
  /* position: relative; */
  /* scroll-snap-align: start; */
  /* margin-bottom: 20px; */
  height: 100vh;
  /* width: 100%; */
}

h1 {
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  color: var(--primary);
}

button {
  padding: calc(var(--width-k) * 14) calc(var(--width-k) * 36);
  border-radius: calc(var(--width-k) * 6);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Inter", sans-serif;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  min-width: calc(var(--width-k) * 100);
  height: 100vh;
  background-color: var(--white);
  z-index: 100;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: calc(var(--width-k) * 7) calc(var(--width-k) * 7);
  background-color: var(--white);
  z-index: 120;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--width-k) * 59);
  width: calc(var(--width-k) * 652);
  margin: calc(var(--width-k) * 104) 0 auto 0;
}

input {
  border-bottom: var(--width-k) solid rgba(182, 182, 182, 1);
  width: calc(var(--width-k) * 652);
  padding: calc(var(--width-k) * 11) calc(var(--width-k) * 26);
  font-size: calc(var(--width-k) * 34);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Inter", sans-serif;
}

input:focus {
  outline: none;
  border-bottom: calc(var(--width-k) * 2) solid rgba(0, 0, 0, 1);
}

input::placeholder {
  font-family: "Inter", sans-serif;
  color: rgba(182, 182, 182, 1);
}

textarea {
  border-bottom: var(--width-k) solid rgba(182, 182, 182, 1);
  width: calc(var(--width-k) * 652);
  padding: calc(var(--width-k) * 11) calc(var(--width-k) * 26);
  font-size: calc(var(--width-k) * 34);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: calc(var(--width-k) * 74);
  font-family: "Inter", sans-serif;
}

textarea:focus {
  outline: none;
  border-bottom: calc(var(--width-k) * 2) solid rgba(0, 0, 0, 1);
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
  color: rgba(182, 182, 182, 1);
}

@media (max-width: 1024px) {
  :root {
    --width-k: calc(100vw / 1024);
  }

  aside {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--width-k) * 22) calc(var(--width-k) * 40);
    background-color: var(--white);
    z-index: 120;
  }

  /* form {
    width: calc(var(--width-k) * 652);
  }

  input {
    width: calc(var(--width-k) * 652);
  }

  textarea {
    width: calc(var(--width-k) * 652);
  } */
}

@media (max-width: 767px) {
  :root {
    --width-k: calc(100vw / 390);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--white);
    z-index: 120;
    padding: calc(var(--width-k) * 7) calc(var(--width-k) * 14);
    height: fit-content;
  }

  aside {
    display: none;
  }

  button {
    font-size: calc(var(--width-k) * 12);
    padding: calc(var(--width-k) * 7) calc(var(--width-k) * 17);
  }
}
