.geometry {
  display: flex;
  position: relative;
  align-items: top;
  gap: calc(var(--width-k) * 16);
  margin: 0 0 auto auto;
  padding-top: calc(var(--width-k) * 133);
  width: calc(var(--width-k) * 1607);
}
.rectangle {
  position: absolute;
  top: calc(var(--width-k) * 133);
  left: calc(var(--width-k) * -16);
  width: calc(var(--width-k) * 141);
  height: calc(var(--width-k) * 52);
}
.line {
  background-color: var(--primary);
  width: calc(var(--width-k) * 27);
  height: calc(var(--width-k) * 142);
}
.flex {
  display: flex;
  align-items: center;
  gap: calc(var(--width-k) * 21);
  width: calc(var(--width-k) * 1562);
}
.heading {
  color: var(--primary);
  font-size: calc(var(--width-k) * 62.63);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
}
.divider {
  background-color: var(--primary);
  width: 100%;
  height: calc(var(--width-k) * 1);
}
.description {
  color: var(--primary);
  font-size: calc(var(--width-k) * 34);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: calc(var(--width-k) * 681);
}
.content {
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: calc(var(--width-k) * 1562);
  margin: 0 0 auto auto;
}

.form__button {
  background-color: var(--primary);
  color: var(--white);
  font-size: calc(var(--width-k) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--width-k) * 72);
  padding: calc(var(--width-k) * 14) calc(var(--width-k) * 36);
  border-radius: calc(var(--width-k) * 4);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form__button:active {
  background-color: var(--secondary-faded);
}

.card {
  background-color: var(--primary);
  border-radius: calc(var(--width-k) * 4);
  width: fit-content;
  padding: calc(var(--width-k) * 32) 0 calc(var(--width-k) * 59)
    calc(var(--width-k) * 53);
  margin-bottom: auto;
}

.card__heading__wrapper {
  display: flex;
  gap: calc(var(--width-k) * 21);
  margin-bottom: calc(var(--width-k) * 32);
}

.card__heading {
  color: var(--white);
  font-size: calc(var(--width-k) * 51.35);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__rectangle {
  width: calc(var(--width-k) * 380);
  height: calc(var(--width-k) * 52);
}
.card__item {
  display: flex;
  align-items: center;
  gap: calc(var(--width-k) * 22);
  margin-bottom: calc(var(--width-k) * 40);
}
.icon {
  width: calc(var(--width-k) * 48);
  height: calc(var(--width-k) * 48);
}
.card__text {
  color: var(--white);
  font-size: calc(var(--width-k) * 28);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: calc(var(--width-k) * 459);
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: calc(var(--width-k) * 652);
  height: fit-content;
  border-radius: calc(var(--width-k) * 4);
  padding: calc(var(--width-k) * 32);
  z-index: 1001;
}

.modal__heading__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--width-k) * 21);
  margin-bottom: calc(var(--width-k) * 32);
}

.modal__heading {
  color: var(--primary);
  font-size: calc(var(--width-k) * 51.35);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal__txt {
  font-size: calc(var(--width-k) * 28);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: calc(var(--width-k) * 32);
}

.cross {
  height: calc(var(--width-k) * 32);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .geometry {
    width: 100%;
    margin: 0 0 auto calc(var(--width-k) * 108);
    padding-top: calc(var(--width-k) * 100);
  }
  .rectangle {
    top: calc(var(--width-k) * 100);
  }
  .divider {
    width: calc(var(--width-k) * 424);
  }
  .content {
    width: 100%;
    flex-direction: column;
    gap: calc(var(--width-k) * 80);
  }
  .card {
    align-self: flex-end;
  }
}
@media (max-width: 767px) {
  .geometry {
    margin: 0 auto auto calc(var(--width-k) * 55);
    width: calc(var(--width-k) * 1607);
    padding-top: 0;
  }
  .heading {
    font-size: calc(var(--width-k) * 32);
  }
  .description {
    font-size: calc(var(--width-k) * 14);
    width: calc(var(--width-k) * 265);
  }
  .rectangle {
    width: calc(var(--width-k) * 66);
    top: 0;
  }
  .divider {
    display: none;
  }
  .line {
    display: none;
  }
  .form__button {
    font-size: calc(var(--width-k) * 24);
    height: calc(var(--width-k) * 45);
    padding: calc(var(--width-k) * 14) calc(var(--width-k) * 36);
    border-radius: calc(var(--width-k) * 4);
  }
  .card {
    width: 100%;
    padding: calc(var(--width-k) * 32) 0 calc(var(--width-k) * 59)
      calc(var(--width-k) * 14);
    border-radius: 0;
  }
  .card__heading {
    font-size: calc(var(--width-k) * 32);
    order: 2;
    white-space: nowrap;
  }
  .card__heading__wrapper {
    width: 150%;
    transform: translateX(calc(var(--width-k) * -215));
  }
  .icon {
    width: calc(var(--width-k) * 36);
    height: calc(var(--width-k) * 36);
  }
  .card__rectangle {
    order: 1;
    width: calc(var(--width-k) * 248);
  }
  .card__text {
    font-size: calc(var(--width-k) * 20);
    max-width: calc(var(--width-k) * 300);
  }
  .card__item {
    margin-bottom: calc(var(--width-k) * 20);
  }
  .modal__card {
    width: calc(var(--width-k) * 340);
    padding: calc(var(--width-k) * 32);
  }
  .modal__heading__wrapper {
    margin-bottom: calc(var(--width-k) * 24);
  }
  .modal__heading {
    font-size: calc(var(--width-k) * 32);
  }
  .modal__txt {
    font-size: calc(var(--width-k) * 14);
    margin-bottom: 0;
  }
  .cross {
    height: calc(var(--width-k) * 24);
  }
}
