.heading__wrapper {
  margin: 0 0 calc(var(--width-k) * 117) auto;
  padding: calc(var(--width-k) * 133) 0 0 0;
  display: flex;
  align-items: center;
  gap: calc(var(--width-k) * 32);
  width: calc(var(--width-k) * 1730);
}

.heading {
  color: var(--primary);
  font-size: calc(var(--width-k) * 72);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  white-space: nowrap;
}

.heading__line {
  background-color: var(--primary);
  width: 100%;
  height: calc(var(--width-k) * 1);
}

.content {
  display: flex;
  gap: calc(var(--width-k) * 49);
  align-items: center;
  width: calc(var(--width-k) * 1730);
  margin: 0 0 auto auto;
}

.label {
  position: relative;
  width: calc(var(--width-k) * 312);
  height: calc(var(--width-k) * 209);
  padding: calc(var(--width-k) * 46);
  background: linear-gradient(
        to right,
        var(--primary) calc(var(--width-k) * 4),
        transparent calc(var(--width-k) * 4)
      )
      0 100%,
    linear-gradient(
        to left,
        var(--primary) calc(var(--width-k) * 4),
        transparent calc(var(--width-k) * 4)
      )
      100% 0,
    linear-gradient(
        to bottom,
        var(--primary) calc(var(--width-k) * 4),
        transparent calc(var(--width-k) * 4)
      )
      100% 0,
    linear-gradient(
        to top,
        var(--primary) calc(var(--width-k) * 4),
        transparent calc(var(--width-k) * 4)
      )
      0 100%;
  background-repeat: no-repeat;
  background-size: calc(var(--width-k) * 47) calc(var(--width-k) * 47);
}

.flex {
  display: flex;
  align-items: center;
  gap: calc(var(--width-k) * 24);
}

.label__txt {
  color: var(--primary);
  text-align: right;
  font-size: calc(var(--width-k) * 62.63);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.square {
  transform-origin: center;
  width: calc(var(--width-k) * 52);
  height: calc(var(--width-k) * 52);
  transform: rotate(180deg);
  z-index: 150;
}

.image {
  position: relative;
}

.image__wrapper {
  width: calc(var(--width-k) * 1369);
  height: calc(var(--width-k) * 452);
  overflow: hidden;
}

.image__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center calc(var(--width-k) * -300);
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.37) 0%,
    rgba(0, 0, 0, 0.37) 100%
  );
  background-blend-mode: multiply, normal, normal;
  z-index: 120;
}

.card {
  position: absolute;
  top: calc(var(--width-k) * 265);
  right: calc(var(--width-k) * 14);
  z-index: 130;
  background-color: var(--white);
  width: calc(var(--width-k) * 807);
  height: calc(var(--width-k) * 267);
  padding-top: calc(var(--width-k) * 24);
  padding-left: calc(var(--width-k) * 46);
  padding-right: calc(var(--width-k) * 46);
  box-shadow: calc(var(--width-k) * 12) calc(var(--width-k) * 14)
    calc(var(--width-k) * 14) 0px rgba(0, 0, 0, 0.15);
}

.subHeading {
  color: var(--primary);
  font-size: calc(var(--width-k) * 27.194);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: calc(var(--width-k) * 15);
}

.description {
  color: var(--txt);
  font-size: calc(var(--width-k) * 20);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: calc(var(--width-k) * 1.1);
}

@media (max-width: 1024px) {
  .heading__wrapper {
    padding: calc(var(--width-k) * 206) 0 0 calc(var(--width-k) * 40);
  }
  .content {
    flex-direction: column;
    width: 100%;
    gap: calc(var(--width-k) * 150);
  }
  .label {
    order: 2;
  }
  .card {
    right: calc(var(--width-k) * 150);
  }
  .label {
    align-self: flex-start;
    margin: 0 0 0 calc(var(--width-k) * 40);
  }
}

@media (max-width: 767px) {
  .heading__wrapper {
    padding: 0 0 0 calc(var(--width-k) * 40);
    margin-bottom: calc(var(--width-k) * 24);
  }
  .heading {
    font-size: calc(var(--width-k) * 32);
  }
  .heading__line {
    display: none;
  }
  .content {
    flex-direction: column;
    width: 100%;
    gap: calc(var(--width-k) * 150);
  }
  .label {
    order: 2;
  }
  .card {
    right: calc(var(--width-k) * 500);
    width: calc(var(--width-k) * 380);
    height: fit-content;
    padding-top: calc(var(--width-k) * 24);
    padding-left: calc(var(--width-k) * 22);
    padding-right: calc(var(--width-k) * 22);
    padding-bottom: calc(var(--width-k) * 17);
  }
  .subHeading {
    font-size: calc(var(--width-k) * 24);
  }
  .description {
    font-size: calc(var(--width-k) * 14);
  }
  .label {
    align-self: flex-start;
    margin: 0 0 0 calc(var(--width-k) * 40);
    width: calc(var(--width-k) * 120);
    height: calc(var(--width-k) * 73);
    padding: calc(var(--width-k) * 12);
    display: none;
  }
  .label__txt {
    font-size: calc(var(--width-k) * 24);
  }
  .square {
    width: calc(var(--width-k) * 25);
    height: calc(var(--width-k) * 25);
  }
}
